body, html {
    margin: 0px;
    height: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, white, rgb(124, 124, 123)); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy; 
}

h2 {
    text-transform: capitalize;
    text-align: center;
}

header, main {
    margin-left: 10px;
}

span {
    display: block;
}


.icons {
    margin-left: 30px;
    display: block;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
}

img {
    display: block;
    height: 45vh;
    margin-left: auto;
    margin-right: auto;

}